*
{
    margin: 100px;
    padding: 75px;
}
.main
{
    display: table;
    margin: auto;
    background: #BCC6CC;
    border: 3px solid black;
    position: relative;
}
.light
{
    width: 60px;
    height: 60px;
    background: black;
    border-radius: 50%;
    margin: 10px
}
.counter
{
    margin: auto;
    position: relative;
    width: 200px;
    height: 150px;
    background: black;
    top: 10px;
    border: 5px solid #BCC6CC;
    color: pink;
    font-size: 120px;
    text-align: center;
    margin-top: 20px;
}